@import url('https://fonts.cdnfonts.com/css/tt-ramillas-trl');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
  color-scheme: light;
  color: #000;
  background-color: #ffece0;
}
@theme{
  --font-display : 'TT Ramillas Trl', sans-serif;
  --font-man : "Manrope", sans-serif;
}

body {
  font-family: var(--font-man);
  line-height: 1.6;
}

h1 {
  font-family: var(--font-display);
}
